body {
    margin: 0;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
    color: #333333;
    text-transform: uppercase;
    background-color: #f2f2f2;
}

a {
    text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.body-wrapper {
    background-color: #ffffff;
    width: 1200px;
    margin: 0 auto;
    -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 1, 1, 0.2);
            box-shadow: 0px 5px 15px 0px rgba(0, 1, 1, 0.2);
}

.header-navigation {
    font-size: 14px;
    line-height: 26px;
    color: #000000;
    background-color: #ffffff;
}

.site-navigation {
    list-style: none;
}

.site-navigation a {
    color: #000000;
}

.site-navigation a:hover {
    color: #81b3d2;
}

.site-navigation a:active {
    color: #cacaca;
}

.main-background {
    background-image: url("../img/sedona-mountains-shape.png"), url("../img/sedona-mountains.jpg");
    background-repeat: no-repeat;
    background-position: bottom, 0 -56px;
    padding-bottom: 74px;
}

.features {
    font-weight: normal;
}

.features-list,
.feature-item-list {
    list-style: none;
}

.feature-item,
.features-head {
    text-align: center;
}



.features h3 {
    font-size: 21px;
    line-height: 21px;
    color: #000000;
    font-weight: bold;
    text-align: center;
}

.features-title p:first-child {
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    color: #000000;
}


.search-form {
    background-color: #ffffff;
}

.search-form p {
    text-align: center;
    line-height: 24px;
    font-weight: normal;
}

.search-form-head {
    font-size: 30px;
    line-height: 36px;
    color: #000000;
    font-weight: bold;
}

.search-form form {
    font-size: 14px;
    line-height: 26px;
    color: #000000;
    background-color: #ffffff;
}

.btn {
    font-size: 21px;
    line-height: 26px;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    border: none;
    background-color: #766357;
    text-transform: uppercase;
}

.btn:hover {
    background-color: #604e44;
}

.btn:active {
    background-color: #503e34;
    color: #857871;
}

.search-form-btn {
    background-color: #81b3d2;
    padding-left: 196px;
    padding-right: 197px;
    padding-top: 18px;
    padding-bottom: 16px;
    margin-top: 24px;
    width: 100%;
}

.search-form-btn:hover {
    background-color: #669ec1;
}

.search-form-btn:active {
    background-color: #5596be;
    color: #88b6d0;
}

.search-form input {
    font: inherit;
    border: none;
    background-color: #f2f2f2;
}

.search-form input:hover {
    background-color: #ebebeb;
}

.search-form input:focus {
    background-color: #ffffff;
    border: 2px solid #e5e5e5
}

input::-webkit-input-placeholder {
    color: #000000;
    text-transform: uppercase;
}

input:-ms-input-placeholder {
    color: #000000;
    text-transform: uppercase;
}

input::-ms-input-placeholder {
    color: #000000;
    text-transform: uppercase;
}

input::placeholder {
    color: #000000;
    text-transform: uppercase;
}

.main-footer {
    font-weight: normal;
}

.footer-hashtag {
    font-size: 21px;
    line-height: 26px;
    color: #000000;
    font-weight: bold;
    margin: 0;
}

.footer-social {
    text-align: center;
}

.footer-social ul {
    list-style: none;
}

.social-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 46px;
    height: 48px;
    background-color: #81b3d2;
}

.social-btn:hover {
    background-color: #669ec1;
}

.social-btn:active {
    background-color: #5596be;
}

.social-btn svg {
    fill: #ffffff;
}

.social-btn:active svg {
    fill: #88b6d0;
}

.main-footer-logo svg {
    margin-bottom: -8px;
}

.main-footer-logo:hover svg {
    fill: #81b3d2;
}

.main-footer-logo:active svg {
    fill: #cacaca;
}

.footer-copyright  {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 14px;
    line-height: 26px;
    color: #000000;
    margin: 0;
    padding: 0;
}


/* Страница отелей */


.site-navigation-current a {
    color: #756357;
}

.hotel-results-list a {
    color: #000000;
}

.hotel-filter form {
    background-color: #49545a;
    background-image: url("../img/filter-background.jpg");
    background-repeat: no-repeat;
    color: #ffffff;
    font-size: 14px;
    line-height: 21px;
}

.hotel-filter ul,
.hotel-results ul {
    list-style: none;
}

.hotel-filter fieldset{
    border: none;
    padding: 0;
    margin: 0;
}

.filter-form-btn {
    display: block;
    color: #ffffff;
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    background-color: transparent;
    border: 2px solid #ffffff;
    padding: 6px 35px;
    margin: 0 auto;
}

.filter-form-btn:hover,
.filter-form-btn:active {
    color: #000000;
    background-color: #ffffff;
}

.hotel-filter {
    font-weight: normal;
}

.hotel-filter legend {
    font-size: 16px;
    line-height: 21px;
    font-weight: bold;
}

.hotel-results {
    font-weight: normal;
}

.hotel-results h2,
.hotel-results h3 {
    font-size: 21px;
    line-height: 26px;
    color: #000000;
}

.hotel-sorting li {
    font-size: 12px;
    line-height: 18px;
    font-weight: normal;
}

.sorting {
    font-size: 12px;
    line-height: 18px;
    font-weight: normal;
    color: #000000;
    margin: 0;
    margin-left: 49px;
}

.hotel-sorting a {
    color: #cacaca;
    opacity: 30%;
    text-decoration: underline;
    -webkit-text-decoration-color: #81b3d2;
            text-decoration-color: #81b3d2;
    -webkit-text-decoration-style: dotted;
            text-decoration-style: dotted;
}

.hotel-sorting-current a {
    color: #81b3d2;
    text-decoration: none;
}

.hotel-sorting svg {
    fill: #cacaca;
}

.hotel-sorting-current svg {
    fill: #81b3d2;
}

.updown:hover svg {
    fill: #000000;
}

.updown:active svg {
    fill: #81b3d2;
}

.hotel-results a:hover {
    color: #81b3d2;
}

.hotel-sorting a:active {
    color: #000000;
    text-decoration: none;
}

.rating {
    font-size: 14px;
    line-height: 21px;
    color: #666666;
}

.hotel-results-name a:hover {
    color: #81b3d2;
}

.hotel-results-name a:active {
    color: #cacaca;
}

.hotel-results-item .btn-info {
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
    background-color: #81b3d2;
    padding: 4px 15px 3px 15px;
}

.hotel-results-item .btn-order {
    font-size: 14px;
    line-height: 21px;
    background-color: #766357;
    color: #ffffff;
    padding: 4px 17px 3px 17px;
}

.hotel-results-item .btn-info:hover {
    background-color: #669ec1;
    color: #ffffff;
}

.hotel-results-item .btn-info:active {
    background-color: #5596be;
    color: #88b6d0;
}

.hotel-results-item .btn-order:hover {
    background-color: #604e44;
    color: #ffffff;
}

.hotel-results-item .btn-order:active {
    background-color: #503e34;
    color: #857871;
}


/* Главная страница сетки */


.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0;
}

.body-wrapper {
    background-color: #ffffff;
    width: 1200px;
    margin: 0 auto;
    -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 1, 1, 0.2);
            box-shadow: 0px 5px 15px 0px rgba(0, 1, 1, 0.2);
}

.site-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 72px;
    padding-right: 72px;
}

.site-navigation li {
    width: 240px;
    text-align: left;
}

.site-navigation li:last-child,
.site-navigation li:nth-child(3) {
    text-align: right;
}

.site-navigation li:first-child,
.site-navigation li:nth-child(3) {
    margin-right: 28px;
}

.site-navigation li:nth-child(2) {
    margin-right: auto;
}

.site-navigation li:nth-child(3) {
    margin-left: auto;
}

.main-header-logo-container {
    margin-left: 531px;
    margin-bottom: -76px;
}

.main-background img {
    margin-left: 371px;
    margin-top: 76px;
}

.features-title {
    margin: 0 354px;
    margin-bottom: 55px;
    margin-top: 62px;
}

.features-title .features-head:first-child {
    margin-bottom: 35px;
}

.features-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -ms-flex-line-pack: stretch;
        align-content: stretch;
    margin: 0;
    padding: 0;

}

.feature-item {
    width: 400px;
}

.features-list p {
    text-align: center;
    padding-left: 48px;
    padding-right: 49px;
}

.features-img {
    width: 800px;
    height: 256px;
}

.feature-item-inside img {
    width: 74px;
    height: 70px;
}

.features-list li:first-child,
.features-list li:nth-child(7) {
    background-color: #81b3d2;
    color: #ffffff;
    padding-top: 30px;
}

.features-list li:nth-child(8),
.features-list li:nth-child(9),
.features-list li:nth-child(10) {
    padding-top: 35px;
    padding-bottom: 46px;
    background-color: #f2f2f2;
}

.features-list li:first-child h3,
.features-list li:nth-child(7) h3{
    color: #ffffff;
}

.features-list li:nth-child(3),
.features-list li:nth-child(4),
.features-list li:nth-child(5) {
    background-color: #ffffff;
    padding-top: 47px;
    padding-bottom: 74px;
}

.feature-item:nth-child(8) p,
.feature-item:nth-child(9) p,
.feature-item:nth-child(10) p {
    padding-left: 65px;
    padding-right: 65px;
}

.search-form-title {
    margin: 0 380px;
    margin-top: 54px;
    margin-bottom: 50px;
}

.search-hotel-btn {
    margin-left: 316px;
    margin-right: 316px;
    padding-left: 138px;
    padding-right: 138px;
    padding-top: 32px;
    padding-bottom: 30px;
}

.search-form-hotels {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    left: 316px;
    padding: 55px;
    width: 458px;
}

.search-form-hotels p {
    font-weight: bold;
    text-align: left;
}

.search-form-container {
    position: relative;
}

.search-form-item {
    margin: 0;
    margin-bottom: 30px;
}

.search-form-item label,
.search-form-item input {
    display: inline-block;
}

.search-form-item:nth-child(1) label,
.search-form-item:nth-child(2) label,
.search-form-item:nth-child(3) label {
    width: 112px;
}

.search-form-item:nth-child(4) label {
    width: 38px;
    margin-right: 27px;
    margin-left: 50px;
}

.search-form-item input {
    padding: 7px 13px;
}

.search-form-item:first-child,
.search-form-item:nth-child(2) {
    width: 100%;
}

.search-form-item:nth-child(3),
.search-form-item:nth-child(4) {
    width: 50%;
}

.search-form-item input[type="text"] {
    width: 346px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.search-form-item input[type="number"] {
    width: 114px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-align: center;
}

.map {
    background-image: url("../img/map.jpg");
    background-repeat: no-repeat;
    width: 1200px;
    min-height: 593px;
    background-position: -40px -154px;
}

.main-footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
}

.main-footer {
    position: relative;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.9);
    padding-top: 36px;
    padding-bottom: 36px;
    margin-top: -120px;
}

.inner-footer {
    position: static;
    z-index: 1;
    background-color: rgba(255, 255, 255, 1);

    margin-top: auto;

}

.footer-social ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 150px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 auto;
    padding: 0;
}

.footer-copyright b {
    font-weight: normal;
    margin-right: 8px;
}

/* Страница отелей сетки */

.hotel-filter-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 30px 72px;
}

.hotel-filter-form fieldset:first-child {
    margin-right: 115px;
}

.hotel-filter-form fieldset:nth-child(2) {
    margin-right: 322px;
}

.hotel-filter-form ul {
    margin: 0;
    margin-top: 28px;
}

.hotel-filter-option {
    margin-bottom: 23px;
}

.hotel-filter-option:nth-child(3),
.hotel-filter-option:nth-child(6) {
    margin: 0;
}

.filter-range {
    width: 330px;
}

.filter-range-title {
  margin-bottom: 9px;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;
  height: 36px;
  font-size: 0;
  margin-bottom: 20px;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 38px;
  vertical-align: top;
  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  background: none;
  border: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
          box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.sorting-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 30px 72px;
}

.hotel-sorting  {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    margin: 0;
    margin-left: 40px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.hotel-sorting li:nth-child(2) {
    margin-left: 31px;
}

.hotel-sorting li:nth-child(3) {
    margin-left: 33px;
}

.hotel-sorting li:nth-child(4 ) {
    margin-left: 504px;
}

.hotel-sorting li:nth-child(5) {
    margin-left: 12px;
}

.hotel-results-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0px;
    padding: 0px;
}

.hotel-results-item {
    position: relative;
    border-top: 1px solid #e5e5e5;
    padding: 30px 72px 30px 72px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.hotel-results-column:nth-child(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: justify;
        align-content: space-between;
    width: 258px;
    margin-right: 490px;
}

.hotel-results-column:nth-child(3) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: right;
    width: 113px;
}

.hotel-results-column ul {
    padding: 0;
    margin: 0;
}

.stars {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
}

.stars li {
    display: inline-block;
    vertical-align: baseline;
}

.hotel-results-item:last-child {
    border-bottom: 1px solid #e5e5e5;
}

.hotel-results h2,
.hotel-results-item h3,
.hotel-results-item p {
    margin: 0;
}

.hotel-results-item h3 {
    margin-top: -5px;
}

.hotel-price {
    padding-bottom: 5px;
}

.hotel-results-price {
    padding-left: 35px;
}

.btn-info {
    margin-right: 6px;
}

.rating {
    padding-left: 16px;
    padding-right: 14px;
    padding-top: 6px;
    padding-bottom: 5px;
    background-color: #f2f2f2;
}
