body {
    margin: 0;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
    color: #333333;
    text-transform: uppercase;
    background-color: #f2f2f2;
}

a {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.body-wrapper {
    background-color: #ffffff;
    width: 1200px;
    margin: 0 auto;
    box-shadow: 0px 5px 15px 0px rgba(0, 1, 1, 0.2);
}

.header-navigation {
    font-size: 14px;
    line-height: 26px;
    color: #000000;
    background-color: #ffffff;
}

.site-navigation {
    list-style: none;
}

.site-navigation a {
    color: #000000;
}

.site-navigation a:hover {
    color: #81b3d2;
}

.site-navigation a:active {
    color: #cacaca;
}

.main-background {
    background-image: url("../img/sedona-mountains-shape.png"), url("../img/sedona-mountains.jpg");
    background-repeat: no-repeat;
    background-position: bottom, 0 -56px;
    height: 508px;
}

.features {
    font-weight: normal;
}

.features-list,
.feature-item-list {
    list-style: none;
}

.feature-item,
.features-head {
    text-align: center;
}



.features h3 {
    font-size: 21px;
    line-height: 21px;
    color: #000000;
    font-weight: bold;
    text-align: center;
}

.features-head-item {
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    color: #000000;
}


.search-form {
    background-color: #ffffff;
}

.search-form p {
    text-align: center;
    line-height: 24px;
    font-weight: normal;
}

.search-form-head {
    font-size: 30px;
    line-height: 36px;
    color: #000000;
    font-weight: bold;
}

.search-form form {
    font-size: 14px;
    line-height: 26px;
    color: #000000;
    background-color: #ffffff;
}

.btn {
    font-size: 21px;
    line-height: 26px;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    border: none;
    width: 568px;
    height: 86px;
    background-color: #766357;
    text-transform: uppercase;
}

.btn:hover {
    background-color: #604e44;
}

.btn:active {
    background-color: #503e34;
    color: #857871;
}

.search-form-btn {
    width: 458px;
    height: 58px;
    background-color: #81b3d2;
}

.search-form-btn:hover {
    background-color: #669ec1;
}

.search-form-btn:active {
    background-color: #5596be;
    color: #88b6d0;
}

.search-form input {
    font: inherit;
    border: none;
    background-color: #f2f2f2;
}

.search-form input:hover {
    background-color: #ebebeb;
}

.search-form input:focus {
    background-color: #ffffff;
    border: 2px solid #e5e5e5
}

input::placeholder {
    color: #000000;
    text-transform: uppercase;
}

.main-footer {
    font-weight: normal;
}

.footer-hashtag {
    font-size: 21px;
    line-height: 26px;
    color: #000000;
    font-weight: bold;
}

.footer-social {
    text-align: center;
}

.footer-social ul {
    list-style: none;
}

.social-btn {
    background-color: #81b3d2;
}

.social-btn:hover {
    background-color: #669ec1;
}

.social-btn:active {
    background-color: #5596be;
}

.social-btn svg {
    fill: #ffffff;
}

.social-btn:active svg {
    fill: #88b6d0;
}

.main-header-logo:hover svg {
    fill: #81b3d2;
}

.main-header-logo:active svg {
    fill: #cacaca;
}


.footer-copyright {
    font-size: 14px;
    line-height: 26px;
    color: #000000;
}


/* Страница отелей */


.site-navigation-current a {
    color: #756357;
}

.hotel-results-list a {
    color: #000000;
}

.hotel-filter form {
    background-color: #49545a;
    background-image: url("../img/filter-background.jpg");
    background-repeat: no-repeat;
    color: #ffffff;
    font-size: 14px;
    line-height: 21px;
}

.hotel-filter ul,
.hotel-results ul {
    list-style: none;
}

.hotel-filter fieldset{
    border: none;
}

.filter-form-btn {
    color: #ffffff;
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    background-color: transparent;
    border: 2px solid #ffffff;
    width: 141px;
    height: 40px;
}

.filter-form-btn:hover,
.filter-form-btn:active {
    color: #000000;
    background-color: #ffffff;
}

.hotel-filter {
    font-weight: normal;
}

.hotel-filter legend {
    font-size: 16px;
    line-height: 21px;
    font-weight: bold;
}

.price-per-day {
    font-size: 16px;
    line-height: 21px;
    font-weight: bold;
}

.hotel-results {
    font-weight: normal;
}

.hotel-results h2,
.hotel-results h3 {
    font-size: 21px;
    line-height: 26px;
    color: #000000;
}

.hotel-sorting li {
    font-size: 12px;
    line-height: 18px;
    font-weight: normal;
}

.sorting {
    font-size: 12px;
    line-height: 18px;
    font-weight: normal;
    color: #000000;
}

.hotel-sorting a {
    color: #cacaca;
    opacity: 30%;
    text-decoration: underline;
    text-decoration-color: #81b3d2;
    text-decoration-style: dotted;
}

.hotel-sorting-current a {
    color: #81b3d2;
    text-decoration: none;
}

.hotel-sorting svg {
    fill: #cacaca;
}

.hotel-sorting-current svg {
    fill: #81b3d2;
}

.updown:hover svg {
    fill: #000000;
}

.updown:active svg {
    fill: #81b3d2;
}

.hotel-results a:hover {
    color: #81b3d2;
}

.hotel-sorting a:active {
    color: #000000;
    text-decoration: none;
}

.rating {
    font-size: 14px;
    line-height: 21px;
    color: #666666;
}

.hotel-results-name a:hover {
    color: #81b3d2;
}

.hotel-results-name a:active {
    color: #cacaca;
}

.hotel-results-item .btn-info {
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
    background-color: #81b3d2;
    padding: 8px 17px 7px 17px;
}

.hotel-results-item .btn-order {
    font-size: 14px;
    line-height: 21px;
    background-color: #766357;
    color: #ffffff;
    padding: 8px 17px 7px 17px;
}

.hotel-results-item .btn-info:hover {
    background-color: #669ec1;
    color: #ffffff;
}

.hotel-results-item .btn-info:active {
    background-color: #5596be;
    color: #88b6d0;
}

.hotel-results-item .btn-order:hover {
    background-color: #604e44;
    color: #ffffff;
}

.hotel-results-item .btn-order:active {
    background-color: #503e34;
    color: #857871;
}


/* Главная страница сетки */


.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0;
}


.body-wrapper {
    background-color: #ffffff;
    width: 1200px;
    margin: 0 auto;
    box-shadow: 0px 5px 15px 0px rgba(0, 1, 1, 0.2);
}

.main-background img {
    margin-left: 371px;
    margin-top: 76px;
}

.features-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.feature-item {
    width: 400px;
}

.features-list p {
    text-align: center;
    padding-left: 49px;
    padding-right: 49px;
}

.features-img {
    width: 800px;
    height: 256px;
}

.features-list li:first-child,
.features-list li:nth-child(7) {
    background-color: #81b3d2;
    color: #ffffff;
    padding-top: 30px;
}

.features-list li:nth-child(8),
.features-list li:nth-child(9),
.features-list li:nth-child(10) {
    padding-top: 50px;
    padding-bottom: 63px;
    background-color: #f2f2f2;
}

.features-list li:first-child h3,
.features-list li:nth-child(7) h3{
    color: #ffffff;
}

.features-list li:nth-child(3),
.features-list li:nth-child(4),
.features-list li:nth-child(5) {
    background-color: #ffffff;
    padding-top: 56px;
    padding-bottom: 85px;
}

.search-hotel-btn {
    margin-left: 316px;
}

.map {
    display: block;
    position: relative;
}

.search-form-hotels {
    display: block;
    position: absolute;
    bottom: -400px;
}

.main-footer {
    margin-top: 36px;
}

.main-footer .container {
    display: flex;
}

.footer-hashtag {
    margin-right: 256px;
    margin-left: 132px;
}

.footer-social {
    margin-right: 228px;
}


/* Страница отелей сетки */


.hotel-results-list {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
}

.hotel-results-item {
    border-top: 1px solid #e5e5e5;
    padding-left: 72px;
}

.hotel-results-item:last-child {
    border-bottom: 1px solid #e5e5e5;
}
